{% load staticfiles %}
<html>
   <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-them.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <title>Eddie's blog</title>
   </head>
   <body>
      <!--
      <h1>Hello Friend,</h1>
      <p><strong>Welcome to my django powered website!</strong></p>
      <p>To see more of my work:  
         <a href="https://github.com/edsmartin7">Click here</a>
      </p>
      -->
      <div class="page-header">
         <h1><a href="/">Eddie Martin Blog</a></h1>
      </div>
      <div class="content container">
         <div class="row">
            <div class="col-md-8">
               {% for post in posts %}
                  <div class="post">
                     <div class="date">
                        <p>published: {{ post.published_date }}</p>
                     </div>
                     <h1><a href="">{{ post.title }}</a></h1>
                     <p>{{ post.text|linebreaksbr }}</p>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>

